<div id="form-new-title">
	<div class="form-new-title-content">
		<span class="form-title">Title</span>
	</div>
</div>

<div id="ctrl-new-ui-next">
	<div class="ctrl-new-ui-next-content">
		<button class="btn btn-danger" type="button" ng-click="newActivity()">
			<i class="icon-arrow-right icon-white"></i>
		</button>
	</div>
</div>

<div id="ctrl-new-ui-back">
	<div class="ctrl-new-ui-back-content">
		<button class="btn btn-success" type="button" ng-click="newActivity()">
			<i class="icon-arrow-left icon-white"></i>
		</button>
	</div>
</div>