<div id="form-new-title">
	<div class="form-new-title-content">
		<span class="form-title" ng-bind="form.title[currIndex]"></span>
	</div>
</div>

<div id="form-new-body" ng-hide="form.page[1]">
	<div class="form-new-body-content">
		<div ng-show="form.page[0]">
			<textarea rows="10"></textarea>
		</div>
		<!-- <div ng-show="form.page[1]">page2</div> -->
		<div ng-show="form.page[2]">
			<textarea rows="10"></textarea>
		</div>
		<div ng-show="form.page[3]">
			<textarea rows="10"></textarea>
		</div>
		<div ng-show="form.page[4]">page5</div>
	</div>
</div>

<div id="ctrl-new-ui-back">
	<div class="ctrl-new-ui-back-content">
		<button class="btn btn-danger" type="button" ng-click="doBack()">
			<i class="icon-arrow-left icon-white"></i>&nbsp;<span ng-bind="backText"></span>
		</button>
	</div>
</div>

<div id="ctrl-new-ui-next">
	<div class="ctrl-new-ui-next-content">
		<button class="btn btn-success" type="button" ng-click="doNext()">
			<span ng-bind-html-unsafe="nextText"></span>
		</button>
	</div>
</div>

	
